
<html>
<head>
  
<link rel="stylesheet" href="mi_estilo.css">
<link rel="icon" type="image/jpg" href="C:\Users\cinthia\Desktop\tarea_wiki\lupa.jpg">

 </head>



 <body style="background-color:#85C1E9  ;">
 	
 <h1 class="h1" >Busqueda </h1>

<div class="flexsearch">
    <div class="flexsearch--wrapper">
      <form class="flexsearch--form" action="#" method="post">
        <div class="flexsearch--input-wrapper">
          <input class="flexsearch--input" type="search" placeholder="ingrese su Busqueda">
        </div>
        <input class="flexsearch--submit" type="submit" value="&#10140;"/>
      </form>
    </div>



</body>

</html>


